# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# VSCode
.vscode/

# Node modules (if any frontend code uses npm later)
node_modules/

# Log files
*.log

# SQLite database
*.sqlite3

# Other system files
Thumbs.db
